$screen-desktop: "(min-width: 1400px)";
$screen-tablet-lg: "(max-width: 1399.8px) and (min-width: 1024px)";
$screen-tablet-sm: "(max-width: 1023.8px) and (min-width: 768px)";
$screen-mobile: "(max-width: 767.8px)";

$margin-base: 40px;
$margin-base-sm: 30px;

$margin-mobile-base: 23px;
$margin-mobile-base-sm: 23px;